*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-weight: 200;
}
h4{
    font-size: 25px;
}
p{
    font-size: 14px;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url('./img/sigiri.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    width: 100%;
    display: flex;
    height: 80px;
    padding: 5px 0 5px 0;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    align-items: center;
    position: static;
    z-index: 1;

}
.nav-active{
    background-color: rgb(0, 0, 0);
    height: 60px;
    transition-duration: 0.4s;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    position: relative;
}
.nav-links ul li a{
    display: block;
    padding: 8px 12px;
    color: rgb(202, 202, 202);
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
}
.nav-links ul li a:hover{
    background-color: rgb(59, 102, 245);
    border-radius: 10px;
    color: white;
    transition-duration: 0.4s;
}
.active{
    background-color: rgb(59, 102, 245);
    border-radius: 10px;
    color: white;
}
.nav-links ul li a:hover{
    color: white;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0px 40px;
    font-size: 15px;
    color: #fff;
}
.hero-btn{
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 12px 34px;
    font-size: 13px;
    font-weight: 600;
    background-color: rgb(59, 102, 245);
    position: relative;
    cursor: pointer;
    border-radius: 10px;
}
.hero-btn:hover{
    background-color: #f44336;
    color: black;
    transition-duration: 0.4s;
}

nav.fa {
    display: none;
}    



/*--------Contents-------*/

.products{
    width: 90%;
    height: 90%;
    margin:auto;
    text-align: center;
}
.product-title{
    padding: 50px 0 40px;
}
.product-title h1{
    font-size: 50px;
}
.row{
    justify-content: space-between;
    padding-bottom: 50px;
    display: flex;
}
.row a{
    flex-basis: 50%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.col img{
    width: 100%;
    height: 40vh;
    border-radius: 10px;
    object-fit: cover;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    border-radius: 10px;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(45, 78, 187, 0.7);
}
.col h3{
    width: 100%;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;

}
.col:hover h3{
    color: white;
    bottom: 49%;
    opacity: 1;
}


/*---------About/student Details-------*/

.about{
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin: 80px 0 100px 0;
}
.about-text h4{
    font-weight: 600;
}

.team{
    background-color: black;
    height: 50vh;
    position: relative;
    text-align: center;
}
.team-b{
    margin: 0;
    margin-bottom: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}
.team h4{
    color: white;
    font-weight: 600;
}
.team p{
    color: white;
}

/*---------Page Editor Footer-------*/

.pg{
    background-color: black;
    height: 10vh;
    position: relative;
    text-align: center;
}
.pg-editor{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}
.pgEditor-btn{
    font-size: 14px;
    color: white;
    background-color: rgb(59,102,245);
    padding: 10px;
    border: none;
    border-radius: 10px;
    transition-duration: 0.5s;
}
.pgEditor-btn:hover{
    background-color: blue;
}
.pgEditor-btn a{
    text-decoration: none;
    color: white;
}
