body{
    font-family: 'Poppins', sans-serif;

}

h1{
    text-align: center;
    color: black;
    margin-bottom: -30px;
}

h2{
    text-align: center;
    color: white;
    margin-bottom: -15px;
}

h3{
    text-align: center;
    color: red;
    margin-bottom: -15px;
}

div{
    background-color: #ABB2B9 ;
    border: none;
    border-radius:13px;
    font-size:18px;
    padding:30px;
    width:490px;
    line-height:1.8;
    margin: auto;
    text-align: center;
}